<footer>
    <div class="f-info">
        <div class="f-info-socials"><!--In this we will write for social media buttons in footer-->
            <i class="fa-brands fa-square-facebook"></i> <!--We have copied this from fontawesome website."https://fontawesome.com/icons/square-facebook?f=brands&s=solid"-->
            <i class="fa-brands fa-square-instagram"></i> <!--We have copied this from fontawesome website."https://fontawesome.com/icons/square-instagram?f=brands&s=solid"-->
            <i class="fa-brands fa-linkedin"></i> <!--We have copied this from fontawesome website."https://fontawesome.com/icons/linkedin?f=brands&s=solid"-->
        </div>

        <div class="f-info-brand"> &copy; Wanderlust Private Limited</div> <!--Here, we have written "&copy;" to add copyright symbol." -->
                                                                        <!--Here we have added class="f-info-brand" so that we can give custom stylings through style.css-->

        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>