<!--Refer "https://getbootstrap.com/docs/5.3/components/alerts/"  from where code has been taken.-->

<!--There is no boiler plate code of HTML here.-->

<% layout('/layouts/boilerplate') %>
<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <b><p class="alert-heading"> <%= message %></p></b>
        </div>
</div>
